<div id="privateUser">
<h1>Wecome User !!</h1>
<div><label>Username: </label> {{user.username}}</div>
<div><label>First Name: </label> {{user.firstName}}</div>
<div><label>Last Name: </label>{{user.lastName}}</div>
<div><label>Profession: </label>{{user.profession}}</div>
<div><label>Bio: </label>{{user.bio}}</div>
</div>

Click here to <a href="/logout">Logout.</a>